<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/" method="POST">
				<span class="contact100-form-title">
					Reservation Form
				</span>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your First Name">
					<span class="label-input100">First Name *</span>
					<input class="input100" type="text" name="firstName" placeholder="First Name " required>
				</div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Last Name">
					<span class="label-input100">Last Name *</span>
					<input class="input100" type="text" name="lastName" placeholder="Last Name " required>
				</div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email">
					<span class="label-input100">Email *</span>
					<input class="input100" type="text" name="email" placeholder="Email " required>
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Phone</span>
					<input class="input100" type="text" id="phone" name="phone" placeholder="Phone number" required>
				</div>

				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Origin *</span>
					<div>
						<select class="js-select2" id="origin" name="origin">
							<option>Please choose</option>
							{{#each allStations}}
							<option>{{this.CITY}},{{this.STATE}}</option>
							{{/each}}
						</select>
						<div class="dropDownSelect2"></div>
					</div>

				</div>


				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Destination *</span>
					<div>
						<select class="js-select2" id="destination" name="destination">
							<option>Please choose</option>
							{{#each allStations}}
							<option>{{this.CITY}},{{this.STATE}}</option>
							{{/each}}
						</select>
						<div class="dropDownSelect2"></div>
					</div>

				</div>


				<div class="wrap-input100 form-group bg1 ">
				  <span class="label-input100"> Date</span>
				  <div class="col-10">
				    <input class="form-control" id="date" type="date" name="date">
				  </div>
				</div>
				
				<div class="wrap-input100 form-group bg1 ">
				  <span class="label-input100"> Number of Pets</span>
				  <div class="col-10">
				    <input class="form-control" id="pets" type="text" name="pets">
				  </div>
				</div>
				
				<fieldset class="radiogroup"> 
					<div class="w-full">
					<div class="wrap-contact100-form-radio">
					<span class="label-input100"> What time of the day?</span>

					<div class="contact100-form-radio m-t-15">
						<input class="input-radio100" id="morning" value="morning" type="radio" name="timeday" checked="checked" />
						<label class="label-radio100" for="morning">Morning</label>
					</div>
					
			

					<div class="contact100-form-radio m-t-15">
						<input class="input-radio100" id="afternoon" value="afternoon" type="radio" name="timeday" checked="checked" />
						<label class="label-radio100" for="afternoon">Afternoon</label>
					</div>
					

					<div class="contact100-form-radio m-t-15">
						<input class="input-radio100" id="evening" value="evening" type="radio" name="timeday" checked="checked" />
						<label class="label-radio100" for="evening">Evening</label>
					</div>
					
			

					</div>
				    </div>

				</fieldset>
				
				<fieldset>
				 	<div class="w-full">
					<div class="wrap-contact100-form-radio">
				 	<span class="label-input100">Are you disabled?</span>
				 	
				 	 	<div class="contact100-form-radio m-t-15">
						 	<input class="input-radio100" type="radio" id="disabled_yes" name="disabled" value="disabled_yes">
							<label class="label-radio100" for="disabled_yes">Yes</label>
						</div>
						
						<div class="contact100-form-radio m-t-15">
							<input class="input-radio100" type="radio" id="disabled_no" name="disabled" value="disabled_no" checked="checked">
							<label class="label-radio100" for="disabled_no">No</label>
						</div>
				
					</div>
					</div>
				 </fieldset>



				<fieldset class="radiogroup"> 
					<div class="w-full">
					<div class="wrap-contact100-form-radio">
					<span class="label-input100"> What type of ticket fare do you want?</span>

					<div class="contact100-form-radio m-t-15">
						<input class="input-radio100" id="adultFare" value="adult" type="radio" name="fare" checked="checked"/>
						<label class="label-radio100" for="adultFare">Adult</label>
					</div>

					<div class="contact100-form-radio m-t-15">
						<input class="input-radio100" id="childFare" value="child" type="radio" name="fare"/>
						<label class="label-radio100" for="childFare">Child</label>
					</div>

					<div class="contact100-form-radio m-t-15">
						<input class="input-radio100" id="elderlyFare" value="elderly" type="radio" name="fare"/>
						<label class="label-radio100" for="elderlyFare">Elderly</label>
					</div>

					</div>
				  </div>

				</fieldset> 
				
				<fieldset>
					<div class="w-full">
					<div class="wrap-contact100-form-radio">
					<span class="label-input100">Are you a veteran?</span>
					 <div class="form-check">
					 	<div class="contact100-form-radio m-t-15">
						    <input class="input-radio100" type="radio" id="veteran_yes" name="veteran" value="veteran_yes">
						    <label class="label-radio100" for="veteran_yes">Yes</label>
						</div>
						<div>
							<input class="input-radio100" type="radio" id="veteran_no" name="veteran" value="veteran_no" checked="checked">
					    	<label class="label-radio100" for="veteran_no">No</label>
						</div>
					 </div>
					 </div>
					 </div>
				 </fieldset>
				 
				 <div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Payment Method *</span>
					<div>
						<select class="js-select2" name="paymentMethod">
							<option>Please choose</option>
							<option>credit</option>
							<option>debit</option>
							<option>cryptocurrency</option>
							<option>cash</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>

				</div>
				 
				 
 


				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->

	<script>

		var today = new Date().toISOString().split('T')[0];
		document.getElementsByName("date")[0].setAttribute('min', today);



	</script>

	<script src="vendor/noui/nouislider.min.js"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>


<script>
			//Format phone number field as user enters his/her number
			
			$('#phone').keyup(function(e){
				
				
				    var ph = this.value.replace(/\D/g,'').substring(0,10);
				    		// Backspace and Delete keys
				    var deleteKey = (e.keyCode == 8 || e.keyCode == 46);
				    var len = ph.length;
				    
				    if(len==0){
				        ph=ph;
				    }else if(len<3){
				        ph='('+ph;
				    }else if(len==3){
				        ph = '('+ph + (deleteKey ? '' : ') ');
				    }else if(len<6){
				        ph='('+ph.substring(0,3)+') '+ph.substring(3,6);
				    }else if(len==6){
				        ph='('+ph.substring(0,3)+') '+ph.substring(3,6)+ (deleteKey ? '' : '-');
				    }else{
				        ph='('+ph.substring(0,3)+') '+ph.substring(3,6)+'-'+ph.substring(6,10);
				    }
					this.value = ph;
			});
</script>


<script>

// 	 var $morning    			= $('#morning'),
// 	 	 $afternoon  			= $('#afternoon'),
// 	 	 $evening    			= $('#evening'),
// 	 	 $morningTrains 		= $('#morningTrains'),
// 	 	 $afternoonTrains 		= $('#afternoonTrains'),
// 	 	 $eveningTrains  		= $('#eveningTrains');
	 	 
// 	 	 var options  			= require("../routes/dashboard.js");
// 	 	 var origin 			= options.origin;
// 	 	 var destination        = options.destination;
// 	 	 var date 				= options.date;
 	 	 
// 	 	 const Sequelize     = require('sequelize');
// 	 	 var sequelize = new Sequelize('S18336PRRteam1', 'user', 'password', {
// 		                host: 'localhost',
// 		                dialect: 'mysql',
// 		                port: 3306
// 		 });
									        
	 	 
// 	 if(!$morning.is(':checked')) $morningTrains.hide();
// 	 if(!$afternoon.is(':checked')) $afternoonTrains.hide();
// 	 if(!$evening.is(':checked')) $eveningTrains.hide();
	   
// 	 $morning.click(function() {
// 			   	hide();
// 			    if($morning.is(':checked')) $morningTrains.show(); 
// 	 });
	
// 	$afternoon.click(function() {
// 				hide();
// 				var train_timeday    = '';
// 			    if($afternoon.is(':checked')) {
			    
// 			    	$afternoonTrains.show();
			    	
// 					        /* setup call to get available trains from TRAIN */
					   
// 					        train_timeday = 'AFT';
// 					        availableTrains();
                              
//                 }
                          
//                           function availableTrains(){
                              
                                
//                               var train_replacements = [
//                                     origin,
//                                     destination,
//                                     train_timeday,
//                                     date
//                               ];    
                              
//                               sequelize.query('call GET_AVAILABLE_TRAINS(?, ?, ?, ?, @TRAIN1, @TRAIN2, @TRAIN3);', {
// 		                            replacements: train_replacements

// 		                     });
						                
                              
//                           }
			    	
// 	});
	
// 	$evening.click(function() {
// 				hide();
// 			    if($evening.is(':checked')) $eveningTrains.show();
// 	});
	
// 	function hide(){
// 				$eveningTrains.hide();
// 			   	$afternoonTrains.hide();
// 			   	$morningTrains.hide();
			   	
// 	}
	
</script>